Wsdls/http___siebel.com_CustomUI_CV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsdLocal1="http://www.siebel.com/xml/CVCuentasATM"
  targetNamespace="http://siebel.com/CustomUI"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://siebel.com/CustomUI"
>
  <types>
    <xsd:schema
      elementFormDefault="qualified"
      attributeFormDefault="unqualified"
      xmlns:xsdLocal1="http://www.siebel.com/xml/CVCuentasATM"
      targetNamespace="http://www.siebel.com/xml/CVCuentasATM"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
      <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel
          XSD Generation</xsd:documentation>
      </xsd:annotation>
      <xsd:element
        name="ListOfCVCuentasATMPhones"
        type="xsdLocal1:ListOfCVCuentasATMPhones"
      ></xsd:element>
      <xsd:complexType
        name="ListOfCVCuentasATMPhonesTopElmt"
      >
        <xsd:sequence>
          <xsd:element
            name="ListOfCVCuentasATMPhones"
            maxOccurs="1"
            minOccurs="1"
            type="xsdLocal1:ListOfCVCuentasATMPhones"
          ></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfCVCuentasATMPhones"
      >
        <xsd:sequence>
          <xsd:element
            name="ListOfAccounts"
            maxOccurs="unbounded"
            minOccurs="0"
            type="xsdLocal1:ListOfAccounts"
          ></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
        name="ListOfAccounts"
      >
        <xsd:sequence>
          <xsd:element
            name="AccountEmail"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"
          ></xsd:element>
          <xsd:element
            name="AccountPA"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"
          ></xsd:element>
          <xsd:element
            name="TTPhoneType"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"
          ></xsd:element>
          <xsd:element
            name="AccountIndustry"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"
          ></xsd:element>
          <xsd:element
            name="AccountRPT"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"
          ></xsd:element>
          <xsd:element
            name="AccountStatus"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"
          ></xsd:element>
          <xsd:element
            name="AccountProspect"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"
          ></xsd:element>
          <xsd:element
            name="AccountNumber"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"
          ></xsd:element>
          <xsd:element
            name="AccountName"
            maxOccurs="1"
            minOccurs="0"
            type="xsd:string"
          ></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema
      elementFormDefault="qualified"
      attributeFormDefault="unqualified"
      targetNamespace="http://siebel.com/CustomUI"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
      <xsd:import
        namespace="http://www.siebel.com/xml/CVCuentasATM"
      ></xsd:import>
      <xsd:element
        name="CVRegistraPago_Input"
      >
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="CVReverso"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcCodigo_spcAutorizacion"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcNumero_spcTarjeta"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcNo_spcReferencia"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcOrigen_spcde_spcpago"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcCuenta"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcMonto"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcNombre_spcTitular_spcTarjeta"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcATMUser"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcFecha_spcVencimiento"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcDigito_spcVerificador"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcForma_spcde_spcPago"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcFecha_spcde_spcpago"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element
        name="CVRegistraPago_Output"
      >
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="CV_spcError"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcPayment_spcNumber"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcResultado"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="TTPA"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="TTPK"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element
        name="CVConsultaStatusCuenta_Input"
      >
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="CV_spcTelefono"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcCuenta"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element
        name="CVConsultaStatusCuenta_Output"
      >
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="CV_spcCuenta"
              minOccurs="0"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcCuentaName"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CV_spcProspecto"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              ref="xsdLocal1:ListOfCVCuentasATMPhones"
            ></xsd:element>
            <xsd:element
              name="CV_spcStatusCuenta"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CVCuentaPrimaryTel"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CVEmail"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CVError"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="TTIndustry"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="TTPA"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="TTPhoneType"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="TTRPT"
              type="xsd:string"
            ></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element
        name="CVValidaBINES_Input"
      >
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="Credit_spcCard_spcNumber"
              type="xsd:string"
            ></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element
        name="CVValidaBINES_Output"
      >
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="Bank"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="Bines_spcType"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="Card_spcType"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="CheckDigit"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="Domestic_spcFlag"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="Error_spcMessage"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="Recurrent_spcFlag"
              type="xsd:string"
            ></xsd:element>
            <xsd:element
              name="Service_spcFlag"
              type="xsd:string"
            ></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message
    name="CVRegistraPago_Input"
  >
    <part
      name="CVRegistraPago_Input"
      element="tns:CVRegistraPago_Input"
    ></part>
  </message>
  <message
    name="CVRegistraPago_Output"
  >
    <part
      name="CVRegistraPago_Output"
      element="tns:CVRegistraPago_Output"
    ></part>
  </message>
  <message
    name="CVConsultaStatusCuenta_Input"
  >
    <part
      name="CVConsultaStatusCuenta_Input"
      element="tns:CVConsultaStatusCuenta_Input"
    ></part>
  </message>
  <message
    name="CVConsultaStatusCuenta_Output"
  >
    <part
      name="CVConsultaStatusCuenta_Output"
      element="tns:CVConsultaStatusCuenta_Output"
    ></part>
  </message>
  <message
    name="CVValidaBINES_Input"
  >
    <part
      name="CVValidaBINES_Input"
      element="tns:CVValidaBINES_Input"
    ></part>
  </message>
  <message
    name="CVValidaBINES_Output"
  >
    <part
      name="CVValidaBINES_Output"
      element="tns:CVValidaBINES_Output"
    ></part>
  </message>
  <portType
    name="CV_spcConsulta_spcStatus_spcCuenta_spcATM_spcpor_spcTel"
  >
    <operation
      name="CVRegistraPago"
    >
      <input
        message="tns:CVRegistraPago_Input"
      ></input>
      <output
        message="tns:CVRegistraPago_Output"
      ></output>
    </operation>
    <operation
      name="CVConsultaStatusCuenta"
    >
      <input
        message="tns:CVConsultaStatusCuenta_Input"
      ></input>
      <output
        message="tns:CVConsultaStatusCuenta_Output"
      ></output>
    </operation>
    <operation
      name="CVValidaBINES"
    >
      <input
        message="tns:CVValidaBINES_Input"
      ></input>
      <output
        message="tns:CVValidaBINES_Output"
      ></output>
    </operation>
  </portType>
  <binding
    name="CV_spcConsulta_spcStatus_spcCuenta_spcATM_spcpor_spcTel"
    type="tns:CV_spcConsulta_spcStatus_spcCuenta_spcATM_spcpor_spcTel"
  >
    <soap:binding
      transport="http://schemas.xmlsoap.org/soap/http"
      style="document"
    ></soap:binding>
    <operation
      name="CVRegistraPago"
    >
      <soap:operation
        soapAction="document/http://siebel.com/CustomUI:CVRegistraPago"
      ></soap:operation>
      <input>
        <soap:body
          use="literal"
        ></soap:body>
      </input>
      <output>
        <soap:body
          use="literal"
        ></soap:body>
      </output>
    </operation>
    <operation
      name="CVConsultaStatusCuenta"
    >
      <soap:operation
        soapAction="document/http://siebel.com/CustomUI:CVConsultaStatusCuenta"
      ></soap:operation>
      <input>
        <soap:body
          use="literal"
        ></soap:body>
      </input>
      <output>
        <soap:body
          use="literal"
        ></soap:body>
      </output>
    </operation>
    <operation
      name="CVValidaBINES"
    >
      <soap:operation
        soapAction="document/http://siebel.com/CustomUI:CVValidaBINES"
      ></soap:operation>
      <input>
        <soap:body
          use="literal"
        ></soap:body>
      </input>
      <output>
        <soap:body
          use="literal"
        ></soap:body>
      </output>
    </operation>
  </binding>
  <service
    name="CV_spcConsulta_spcStatus_spcCuenta_spcATM_spcDOC"
  >
    <port
      binding="tns:CV_spcConsulta_spcStatus_spcCuenta_spcATM_spcpor_spcTel"
      name="CV_spcConsulta_spcStatus_spcCuenta_spcATM_spcpor_spcTel"
    >
      <soap:address
        location="https://test.izziapiweb.mx/vpn/siebel/app/eai/ESN"
      ></soap:address>
    </port>
  </service>
</definitions>